/* CSS Document */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

@font-face {
    font-family: 'D-DIN';
    src: url('../fonts/D-DIN.eot');
    src: url('../fonts/D-DIN.eot?#iefix') format('embedded-opentype'),
        url('../fonts/D-DIN.woff2') format('woff2'),
        url('../fonts/D-DIN.woff') format('woff'),
        url('../fonts/D-DIN.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'D-DIN', sans-serif !important;
    font-size: 13px;
    color: #3a3a3a;
    font-weight: 400;
}

* {
    margin: 0px;
    padding: 0px;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.clr,
.clear {
    clear: both;
}

header,
footer,
aside,
article,
section, 
nav,
figure {
    position: relative;
    overflow:hidden;
}
 

ul,
li,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none !important;
    outline: none;
}

img {
    border: 0;
    outline: none;
    max-width: 100%;
}

input[type="text"],
input[type="password"],
select,
textarea,
input[type="button"] {
    max-width: 100%;
}

table {  width: 100%; } 
.fltL { float: left; }
.fltR { float: right; }
.padding_none { padding: 0 !important;}
.border_none{border:none !important}
.navbar-toggle {  background-color: #fff !important; }
.icon-bar { background-color: #000 !important; }
.p_right0{ padding-right:0px !important }
.p_left0{ padding-left:0px !important }
.mb50{ margin-bottom: 50px; }
.bs-example{ display: none; }
.left{ padding: 0 !important  }
.right{ padding: 0 !important  }

header{overflow:inherit}
header .LogoArea{padding:10px 0 8px}
header .LogoArea .Logo{width:155px;margin:0 0}
header .LogoArea .Logo a{display:block;width:100%}
header .LogoArea .Logo a img{width:100%}
header .LogoArea .Case{background:#fff685;color:#000;padding:6px 10px 5px;text-align:center;box-shadow:0 1px 3px #c3c3c3;width:95%;margin:5px auto;font-size:13px;font-weight:500}
header .LogoArea .Case p{margin:0}
header .LogoArea .Navi{padding:7px 0 0}
header .LogoArea .Navi ul{text-align:right}
header .LogoArea .Navi ul li{display:inline-block;padding:0 5px 0;text-align:center}
header .LogoArea .Navi ul li a{display:block}
header .LogoArea .Navi ul li a img{width:25px}
header .LogoArea .Navi ul li a span{display:block;font-size:11px;margin:5px 0 0;padding:0;color:#9f9c9c;font-weight:800;text-transform:uppercase;letter-spacing:.4px}
header .LogoArea .Navi ul li a sup{margin: 0;position: absolute;width: 20px;height: 20px;background-color: #712a8c;color: #fff;top: 4px;right: 79px;border-radius: 50%;line-height: 18px;font-size: 13px;}
header .LogoArea .Navi ul li.Dropdown{position:relative}
header .LogoArea .Navi ul li.Dropdown ol{position:absolute;min-width:100%;padding:0;background:#712a8c;box-shadow:0 3px 11px 0 rgba(0,0,0,.1);-webkit-transform:perspective(600px) rotateX(-90deg);transform:perspective(600px) rotateX(-90deg);-webkit-transform-origin:0 0 0;transform-origin:0 0 0;left:0;right:auto;opacity:0;visibility:hidden;-webkit-transition:0.5s;transition:0.5s;z-index:99;top:100%;text-align:left;width:100%;min-width:200px;display:block;width:auto}
header .LogoArea .Navi ul li.Dropdown ol li{display:block;padding:0;text-align:left}
header .LogoArea .Navi ul li.Dropdown ol li a{padding:10px 20px;color:#fff}
header .LogoArea .Navi ul li.Dropdown ol li a .fa{margin:0 7px 0 0}
header .LogoArea .Navi ul li.Dropdown ol li a:hover{background-color:#eb008b}
header .LogoArea .Navi ul li.Dropdown:hover ol{opacity:1;visibility:visible;transform:perspective(600px) rotateX(0deg)}
header .navbar{float:none;width:auto;border:none;border-radius:0;overflow:inherit}
header .navbar .Navigation{background-color:#712a8c}
header .navbar .Navigation .nav{width:59%;margin:0;text-align:center}
header .navbar .Navigation .nav>li{margin:0 20px;position:relative;float:none;display:inline-block}
header .navbar .Navigation .nav>li>a{font-size:16px;padding:0 0;text-transform:uppercase;font-weight:600;font-family:"D-DIN";line-height:50px;letter-spacing:.5px;color:#fff}
header .navbar .Navigation .nav>li+li:after{content:'|';color:#fff;position:absolute;top:0;left:-28px;font-size:14px;line-height:51px}
header .navbar .Navigation .nav>li>a:after{content:none}
header .navbar .Navigation form{float:right;width:39%;text-align:right}
header .navbar .Navigation form input{width:85%;border:1px solid #ddd;height:40px;padding:5px 15px;outline:0}
header .navbar .Navigation form button{border:none;outline:0;background-color:transparent;width:6%;padding:0 0;margin:0 0 0 15px}

.CodeImages #Watch .watch a{height:100%}
.CodeImages #Watch .watch a img{height:100%}

.Exclusive_offer{background-color:#eb008b;margin:7px 0 7px 0;padding:8px 0;text-align:center}
.Exclusive_offer p{font-size:19px;display:inline-block;color:#fff;font-family:"D-DIN";margin:0 20px 0 0}
.Exclusive_offer p span{font-weight:600;margin:0 4px}
.Exclusive_offer a{padding:5px 12px;background:#fff685;color:#000;font-weight:600}

.CodeArea .CodeImages{position:relative}
.CodeArea .CodeImages #Watch .watch{padding:0; }
.CodeArea .CodeImages .carousel-control{width:50px;padding:0;background:transparent;opacity:1;text-align:center;margin:0 10px 0 20px;align-items:center;justify-content:center;display:flex}
.CodeArea .CodeImages img{width:100%}
.CodeArea .CodeImages .shop{position:absolute;bottom:30px;left:30px}
.CodeArea .CodeImages .shop:last-child{right:30px;left:auto}
.CodeArea .CodeImages .shop a{background-color:#fff;padding:10px 30px;display:inline-block;text-transform:uppercase;font-family:"D-DIN";font-weight:600;letter-spacing:.5px;font-size:15px;color:#000}
.CodeArea .CodeImages .shop a:hover{background-color:#712a8c;color:#fff}
.CodeArea .CodeDiscount{background-color:#000;background:#000;color:#fff}
.CodeArea .CodeDiscount ul{float:left;width:100%;text-align:center}
.CodeArea .CodeDiscount ul li{width:calc(100% / 3);float:left;text-transform:uppercase;font-weight:600;font-size:20px;padding:15px 0;line-height:19px;position:relative}
.CodeArea .CodeDiscount ul li+li:before{content:':';position:absolute;top:0;left:0;bottom:0;height:19px;margin:auto;line-height:15px}
.CodeArea .CodeDiscount ul li span{font-size:17px;font-weight:500;margin:0 5px 0 0}

.DressArea{
    padding: 15px 0 15px;
}

.DressArea .Dressbox{}

.DressArea .Dressbox figure{
    margin: 0;
}

.DressArea .Dressbox figure img{
    width: 100%;
}

.DressArea .Dressbox figcaption{
    text-align: center;
    background-color: #eef1f3;
    padding: 20px 35px;
}

.DressArea .Dressbox figcaption h3{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    padding: 0;
    line-height: 18px;
    font-family: "D-DIN";
    margin: 0 0 8px;
    color: #464646;
    letter-spacing: 0.7px;
}

.DressArea .Dressbox figcaption ul{
    margin: 0 0 20px 0;
}

.DressArea .Dressbox figcaption ul li{
    margin: 0 0 8px;
}

.DressArea .Dressbox figcaption ul li a{
    text-transform: uppercase;
    font-size: 13px;
    color: #696969;
    font-family: "D-DIN";
}

.DressArea .Dressbox figcaption ul li a:hover{}

.DressArea .Dressbox figcaption a.shop{
    font-family: "D-DIN";
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    color: #6d6d6d;
    width: 95px;
    display: block;
    margin: auto;
    text-align: center;
}


.FlashArea{}

.FlashArea h1{
    color: #333;
    font-size: 35px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 25px 0;
   font-family: "D-DIN";
    letter-spacing: 2px;
}

.FlashArea h1 img{}

.FlashArea h1 a{
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0;
    float: right;
    color: #565656;
    margin: 13px 0;
}

.FlashArea h1 a:hover{
    color: #712a8c;
}

.FlashArea .FlashHead{
    text-align: center;
    margin: 0 0 20px;
}

.FlashArea .FlashHead p{
    display: inline-block;
    font-size: 25px;
    text-transform: uppercase;
    font-family: "D-DIN";
    font-weight: 600;
    line-height: 60px;
    vertical-align: top;
    margin: 0 20px 0 0;
}


.FlashArea .FlashHead .countdown{display: inline-block;}

.FlashArea .FlashHead .countdown span{
    background-color: #3e3c3c;
    color: #fff;
    font-family: "D-DIN";
    font-weight: 700;
    font-size: 42px;
    width: 50px;
    display: inline-block;
    margin: 0 10px;
    border-radius: 5px;
    position: relative;
}

.FlashArea .FlashHead .countdown span+span:after{
    position: absolute;
    content: ':';
    top: 0;
    left: -17px;
    color: #000;
}

.FlashArea .FlashBody{}

.FlashArea .FlashBody .FlashBox{
    position: relative;
}

.FlashArea .FlashBody .FlashBox figure{
    margin: 0;
    position: relative;
    height: 300px
}

.FlashArea .FlashBody .FlashBox figure img{
    width: 100%;
    height: 100%
}

.FlashArea .FlashBody .FlashBox figure span{
    position: absolute;
    top: 0;
    left: 0;
    background: #fcd364;
    padding: 0 0;
    z-index: 1;
    color: #000 !important;
    font-weight: 500;
    width: 49px;
    height: 40px;
    border-radius: 0;
    font-size: 16px;
    text-align: center;
    line-height: 38px;
}

.FlashArea .FlashBody .FlashBox figure span:before{
    border-top: 0px solid transparent;
    border-right: 25px solid #fcd364;
    border-bottom: 12px solid transparent;
    position: absolute;
    bottom: -12px;
    left: 0;
    content: '';
}

.FlashArea .FlashBody .FlashBox figure span:after{
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-left: 25px solid #fcd364;
    border-bottom: 12px solid transparent;
    position: absolute;
    bottom: -12px;
    content: '';
    right: 0;
}

.FlashArea .FlashBody .FlashBox figcaption{
    padding: 10px 20px;
}

.FlashArea .FlashBody .FlashBox figcaption p{
    color: #d73b3c;
    text-align: left;
    margin: 0;
    font-size: 22px;

    font-weight: 600;
}

.FlashArea .FlashBody .FlashBox figcaption p i{
    margin: 0 4px 0 0;
}

.FlashArea .FlashBody .FlashBox figcaption p sup{
    font-size: 13px;
    top: -10px;
    color: #000;
}

.FlashArea .FlashBody .FlashBox figcaption p sup i{
    margin: 0;
}

.FlashArea .FlashBody .FlashBox aside{
    position: absolute;
    bottom: 0;
    background-color: #fff;
    width: 80%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding: 12px 0;
}

.FlashArea .FlashBody .FlashBox aside p{
    margin: 0;
    font-weight: 700;
    font-family: "D-DIN";
    color: #f71295;
    font-size: 18px;
}

.FlashArea .FlashBody .FlashBox aside p del{
    color: #949393;
    font-weight: 500;
}

.StyleArea{
    padding: 20px 10px 20px;
    background: #e6e6e6;
    text-align: center;
}

.StyleArea .StyleHead{
    margin: 0 0 30px 0;
}

.StyleArea .StyleHead h2{
    margin: 0 0 6px;
    font-family: "D-DIN";
    font-weight: 600;
    color: #000;
}

.StyleArea .StyleHead p{
    font-size: 15px;
    font-family: Arial;
    color: #3a3838;
}

.StyleArea .StyleBody{}

.StyleArea .StyleBody .StyleBox{}

.StyleArea .StyleBody .StyleBox figure{
    margin: 0;
}

.StyleArea .StyleBody .StyleBox figure img{}

.StyleArea .StyleBody .StyleBox figcaption{
    background-color: #fff;
    padding: 15px;
    text-align: left;
    font-family: Arial;
}

.StyleArea .StyleBody .StyleBox figcaption p{
    font-weight: 700;
    color: #000;
    font-size: 15px;
    line-height: 21px;
}

.StyleArea .StyleBody .StyleBox figcaption h5{
    margin: 0 0 8px;
    font-weight: 500;
}

.StyleArea .StyleBody .StyleBox figcaption h6{
    margin: 0;
    text-align: right;
    font-size: 14px;
    color: #000;
}

.StyleArea .seeall{
    float: none;
    width: 100%;
    padding: 0;
    margin: 30px 0 0 0;
}

.StyleArea .seeall a{
    display: inline-block;
    margin: 0;
}


.BrandArea{
    padding: 30px 0 0 0;
}

.BrandArea h2{
    margin: 0 0 9px;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: 700;
    font-size: 20px;
    color: #000;
}

.BrandArea .BrandBox{
    margin: 0 0 30px 0;
}

.BrandArea .BrandBox figure{
    margin: 0;
    height: 335px;
}

.BrandArea .BrandBox figure img{
    width: 100%;
}

.BrandArea .BrandBox figcaption{
    background-color: #fff;
    width: 92%;
    margin: -40px auto 10px;
    z-index: 999;
    position: relative;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 1px 7px #dad8d8;
}

.BrandArea .BrandBox figcaption img{
    width: 60px;
}

.BrandArea .BrandBox figcaption p{
    font-size: 15px;
    font-family: Arial;
    color: #000;
    font-weight: 500;
    line-height: 18px;
    margin: 10px 0 10px 0;
}

.BrandArea .BrandBox figcaption a{
    font-size: 15px;
    color: #272626;
    font-weight: 600;
}

.WatchArea{
    padding: 20px 0 0;
}

.WatchArea .brand{
    margin: 0px;
    padding: 0px
}

.WatchArea .BRANDS{
    padding: 0;
    margin: 0;
}

.WatchArea .BRANDS .watex p{
    color: #000;
    margin: 10px 0 0 0;
}

.Pricess{
    margin: 20px 0 0 0;
}

.Pricess a{
    display: block;
}

.Pricess a img{
    width: 100%;
}


.GymArea{}

.GymArea .dress, 
.GymArea .gym, 
.GymArea .gymimg{
    padding:0px;
}

.PickedArea{
    padding: 40px 0 80px;
}

.PickedArea h1{
    margin: 0 0 20px;
    text-align: center;
    font-family: Arial;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
}

.PickedArea .PickBox{
    position: relative;
    cursor: pointer;
}

.PickedArea .PickBox+.PickBox{
    margin: 15px 0 0 0;
}

.PickedArea .PickBox figure{
    margin: 0;
}

.PickedArea .PickBox figure img{
    width: 100%;
}

.PickedArea .PickBox  figcaption{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    height: 90%;
    border: 2px solid #ddd;
    background-color: #00000045;
    margin: auto;
    text-align: center;
    transition: 0.5s all ease-in-out;
    transform: scale(0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.PickedArea .PickBox  figcaption a{
    padding: 10px 0px;
    background-color: #712a8c;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    width: 100px;
}

.PickedArea .PickBox  figcaption a:hover{
    background-color: #eb008b;
}

.PickedArea .PickBox:hover figcaption{
    transform: scale(1);
}


footer{
    padding: 0px 20px 0;
}

footer .Footer{
    padding: 40px 0 30px 0;
    border-top: 1px solid #e6e2e2;
}

footer .Footer .Foots{}

footer .Footer .Foots h3{
    margin: 0 0 10px;
    text-transform: uppercase;
    font-family: "D-DIN";
    font-weight: 600;
    font-size: 16px;
    color: #777575;
}

footer .Footer .Foots .App{
    margin: 0 0 7px;
}

footer .Footer .Foots .App a{
    display: inline-block;
    width: 110px;
}

footer .Footer .Foots .App a img{}

footer .Footer .Foots ul{}

footer .Footer .Foots ul li{}

footer .Footer .Foots ul li a{
    color: #676767;
    font-size: 14px;
    line-height: 26px;
    font-family: "D-DIN";
}

footer .Footer .Foots ul li a:hover{
    color: #000;
}


footer .Footer .Foots form{}

footer .Footer .Foots form input{
    width: 100%;
    background-color: #ececec;
    height: 40px;
    padding: 5px 15px;
    outline: 0;
    border: 1px solid #cccacadd;
}

footer .Footer .Foots form button{
    border: none;
    outline: 0;
    background-color: #333333;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 15px 0 0;
}

footer .Footer .Foots ol{
    margin: 20px 0 0 0;
}

footer .Footer .Foots ol li{
    display: inline-block;
    margin: 0 15px 0 0;
}

footer .Footer .Foots ol li a{
    font-size: 18px;
    color: #8a8888;
}

footer .Footer .Foots ol li a:hover{
    color: red;
}

footer .FooterBottom{
    font-family: "D-DIN";
}

footer .FooterBottom ul{
    text-align: center;
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
    padding: 30px 0;
    margin: 0 0 30px;
}

footer .FooterBottom ul li{
    display: inline-block;
    width: 30%;
}

footer .FooterBottom ul li img{
    display: inline-block;
    width: 25px;
}

footer .FooterBottom ul li h6{
    display: inline-block;
    margin: 0 0 0 10px;
    font-weight: 600;

    font-size: 17px;
    color: #565454;
}

footer .FooterBottom h3{
    margin: 0 0 3px;
    font-size: 15px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;

}

footer .FooterBottom p{
    color: #656262;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 20px;
}

footer .FooterBottom aside{
    text-align: center;
    margin: 50px 0 15px 0;
}

footer .FooterBottom aside p{
    margin: 0;
    color: #424141;
    font-weight: 600;

}



.BagArea{
    padding: 50px 0;
}

.BagArea .Baghead{
    margin: 0 0 50px 0;

}

.BagArea .Baghead h1{
    margin: 0 0 10px;
    font-size: 30px;
    color: #000;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    padding: 0 0 10px;
}

.BagArea .Baghead h2{
    margin: 0 0 0;
    font-size: 22px;
    color: #424141;
}

.BagArea .BagBody{}

.BagArea .BagBody .BagsLeft{}

.BagArea .BagBody .BagsLeft .Delivery{
    border: 1px solid #fff;
    padding: 15px;
    box-shadow: 0px 1px 15px #ddd;
    margin: 0 0 25px 0;
}

.BagArea .BagBody .BagsLeft .Delivery img{
    display: inline-block;
    margin: 0 15px 0 0;
}

.BagArea .BagBody .BagsLeft .Delivery p{
    display: inline-block;
    margin: 0;
    font-size: 18px;

    color: #4c4c4c;
}

.BagArea .BagBody .BagsLeft .Delivery p span{
    color: #eb008b;
}

.BagArea .BagBody .BagsLeft .BagOrder{
    border: 1px solid #fff;
    box-shadow: 1px 2px 9px 0px #ddd;
}

.BagArea .BagBody .BagsLeft .BagOrder article{
    padding: 15px;
}

.BagArea .BagBody .BagsLeft .BagOrder article aside{
    border-bottom: 1px solid #e8e8e8;
    padding: 0 0 15px;
    margin: 0 0 20px;
}

.BagArea .BagBody .BagsLeft .BagOrder article aside:last-child{
    margin: 0px;
    padding: 0px;
    border: none;
}

.BagArea .BagBody .BagsLeft .BagOrder article aside h1{
    margin: 0 0 15px;
    color: #4e4e4e;

    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
}

.BagArea .BagBody .BagsLeft .BagOrder article aside h1 span{
    color: #000;
    font-weight:600;
}

.BagArea .BagBody .BagsLeft .BagOrder article aside figure{
    margin: 0;
    width: 115px;
    float: left;
    height: 135px;
}

.BagArea .BagBody .BagsLeft .BagOrder article aside figure img{
    width: 100%;
}

.BagArea .BagBody .BagsLeft .BagOrder article aside figcaption{
    float: left;
    width: 79%;
    padding: 0 15px;

}

.BagArea .BagBody .BagsLeft .BagOrder article aside figcaption h2{
    margin: 0 0 8px;
    font-size: 20px;
    color: #000;
    font-weight: 500;
}

.BagArea .BagBody .BagsLeft .BagOrder article aside figcaption h3{
    margin: 0 0 8px;
    font-size: 17px;
    color: #656565;
    font-weight: 500;
}

.BagArea .BagBody .BagsLeft .BagOrder article aside figcaption h4{
    margin: 0 0 10px;
    font-size: 17px;
    color: #656565;
}

.BagArea .BagBody .BagsLeft .BagOrder article aside figcaption h5{
    margin: 0 0 10px;
    font-size: 16px;
    color: #000;
}

.BagArea .BagBody .BagsLeft .BagOrder article aside figcaption h5 del{
    color: #777;

}

.BagArea .BagBody .BagsLeft .BagOrder article aside figcaption h5 span{
    color: #20bd99;
    text-transform: capitalize;
    font-weight: 400;
}

.BagArea .BagBody .BagsLeft .BagOrder article aside figcaption h6{
    margin: 0 0;
    font-size: 15px;
    color: #777;
    font-weight: 500;
}

.BagArea .BagBody .BagsLeft .BagOrder article aside figcaption h6 span{
    color: #000;
    font-weight: 600;
    font-size: 16px;
}

.BagArea .BagBody .BagsLeft .BagOrder article aside .Spinner{
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}

.BagArea .BagBody .BagsLeft .BagOrder article aside .Spinner .number-spinner{
    width: 16%;
    text-align: center;
    display: block;
    float: left;
    margin: 0 20px 0 0;
}

.BagArea .BagBody .BagsLeft .BagOrder article aside .Spinner .number-spinner span.input-group-btn{
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 1px solid #ddd;
    display: inline-block;
    margin: 4px 0;
}

.BagArea .BagBody .BagsLeft .BagOrder article aside .Spinner .number-spinner span.input-group-btn.data-dwn{
    float: left;
}

.BagArea .BagBody .BagsLeft .BagOrder article aside .Spinner .number-spinner span.input-group-btn.data-up{
    float: right;
}

.BagArea .BagBody .BagsLeft .BagOrder article aside .Spinner .number-spinner span.input-group-btn button{
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
    color: #000;
    font-size: 9px;
    outline: 0;
}

.BagArea .BagBody .BagsLeft .BagOrder article aside .Spinner .number-spinner input{
    display: inline-block;
    float: none;
    padding: 0;
    width: 35px;
    height: 35px;
    line-height: 10px;
    min-height: 25px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.BagArea .BagBody .BagsLeft .BagOrder article aside .Spinner p{
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;

    color: #000;
    margin: 5px 0 0 0;
}

.BagArea .BagBody .BagsLeft .BagOrder article aside .Spinner p a{
    margin: 0 0 0 40px;
    color: #717171;
}

.BagArea .BagBody .BagsLeft .BagOrder .Links{
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid #ddd;
}

.BagArea .BagBody .BagsLeft .BagOrder .Links a{
    border: 1px solid #ddd;
    padding: 12px 0px;
    margin: 0 8px;
    display: inline-block;
    width: 240px;
    text-transform: uppercase;
    font-size: 16px;
    color: #000;
    font-weight: 500;

    letter-spacing: 0.5px;
}

.BagArea .BagBody .BagsLeft .BagOrder .Links a:hover{
    background-color: #71298c;
    color: #fff;
    border-color: #71298c;
}






.BagOrder{
    border: 1px solid #fff;
    box-shadow: 1px 2px 9px 0px #ddd;
}

.BagOrder article{
    padding: 15px;
}

.BagOrder article aside{
    border-bottom: 1px solid #e8e8e8;
    padding: 0 0 15px;
    margin: 0 0 20px;
}

.BagOrder article aside:last-child{
    margin: 0px;
    padding: 0px;
    border: none;
}

.BagOrder article aside h1{
    margin: 0 0 15px;
    color: #4e4e4e;
     
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
}

.BagOrder article aside h1 span{
    color: #000;
    font-weight:600;
}

.BagOrder article aside figure{
    margin: 0;
    width: 115px;
    float: left;
    height: 135px;
}

.BagOrder article aside figure img{
    width: 100%;
}

.BagOrder article aside figcaption{
    float: left;
    width: 80%;
    padding: 0 15px;
     
}

.BagOrder article aside figcaption h2{
    margin: 0 0 8px;
    font-size: 20px;
    color: #000;
    font-weight: 500;
}

.BagOrder article aside figcaption h3{
    margin: 0 0 8px;
    font-size: 17px;
    color: #656565;
    font-weight: 500;
}

.BagOrder article aside figcaption h4{
    margin: 0 0 10px;
    font-size: 17px;
    color: #656565;
}

.BagOrder article aside figcaption h5{
    margin: 0 0 10px;
    font-size: 16px;
    color: #000;
}

.BagOrder article aside figcaption h5 del{
    color: #777;
     
}

.BagOrder article aside figcaption h5 span{
    color: #20bd99;
    text-transform: capitalize;
    font-weight: 400;
}

.BagOrder article aside figcaption h6{
    margin: 0 0;
    font-size: 15px;
    color: #777;
    font-weight: 500;
}

.BagOrder article aside figcaption h6 span{
    color: #000;
    font-weight: 600;
    font-size: 16px;
}

.BagOrder article aside .Spinner{
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}

.BagOrder article aside .Spinner .number-spinner{
    width: 16%;
    text-align: center;
    display: block;
    float: left;
    margin: 0 20px 0 0;
}

.BagOrder article aside .Spinner .number-spinner span.input-group-btn{
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 1px solid #ddd;
    display: inline-block;
    margin: 4px 0;
}

.BagOrder article aside .Spinner .number-spinner span.input-group-btn.data-dwn{
    float: left;
}

.BagOrder article aside .Spinner .number-spinner span.input-group-btn.data-up{
    float: right;
}

.BagOrder article aside .Spinner .number-spinner span.input-group-btn button{
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
    color: #000;
    font-size: 9px;
    outline: 0;
}

.BagOrder article aside .Spinner .number-spinner input{
    display: inline-block;
    float: none;
    padding: 0;
    width: 35px;
    height: 35px;
    line-height: 10px;
    min-height: 25px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.BagOrder article aside .Spinner p{
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
     
    color: #000;
    margin: 5px 0 0 0;
}

.BagOrder article aside .Spinner p a{
    margin: 0 0 0 40px;
    color: #717171;
}

.BagOrder .Links{
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid #ddd;
}

.BagOrder .Links a{
    border: 1px solid #ddd;
    padding: 12px 0px;
    margin: 0 8px;
    display: inline-block;
    width: 240px;
    text-transform: uppercase;
    font-size: 16px;
    color: #000;
    font-weight: 500;
     
    letter-spacing: 0.5px;
}

.BagOrder .Links a:hover{
    background-color: #71298c;
    color: #fff;
    border-color: #71298c;
}





















.BagsRight{
    border: 1px solid #ececec;
    box-shadow: 0px 1px 10px #ddd;
}

.BagsRight aside{
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.BagsRight aside h4{
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;

    color: #a09f9f;
    letter-spacing: 0.5px;
}

.BagsRight article{
    padding: 15px;

}

.BagsRight article h4{
    margin: 0 0 20px;
    font-size: 16px;
    text-transform: capitalize;
    color: #000;
}

.BagsRight article h4 span{
    float: right;
    font-weight: 500;
}

.BagsRight article h5{
    margin: 20px 0 0 0;
    font-size: 16px;
    text-transform: capitalize;
    color: #000;
    border-top: 1px dotted #ccc8c8;
    padding: 15px 0 0;
}

.BagsRight article h5 span{
    float: right;
}

.BagsRight .Saved{
    padding: 10px;
    border-top: 1px solid #ddd;
}

.BagsRight .Saved p{
    margin: 0;
    color: #eb008b;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
}

.EmptyBag{
    text-align: center;
}

.EmptyBag img{}

.EmptyBag h3{

    color: #712a8c;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 10px;
}

.EmptyBag h4{
    margin: 0;
    color: #ff37ad;
    font-size: 23px;
}

.EmptyBag h4 .fa{}


.DetailsArea{
    padding: 20px 0 50px 0;
}

.DetailsArea .DetailsBread{
    padding:  0 0 1px 0;
    margin: 0 0 15px;
}

.DetailsArea .DetailsBread ul{
    margin: 0;
}

.DetailsArea .DetailsBread ul li{
    display: inline-block;
    margin: 0 15px 0 0;
    position: relative;
}

.DetailsArea .DetailsBread ul li+li:before{
    content: '/';
    position: absolute;
    left: -12px;
    top: 2px;
    color: #000;
}

.DetailsArea .DetailsBread ul li a{
    color: #444;
    font-size: 16px;

    font-weight: 400;
}

.DetailsArea .DetailsBread ul li a:hover{
    color: #712a8c;
}

.DetailsArea .DetailsBread ul li.active a{
    color: #000;
    font-weight: 500;
}
 

.DetailsArea .DetailsBody #ProductSlide .carousel-indicators{
    bottom: -30px;
}

.DetailsArea .DetailsBody #ProductSlide .carousel-indicators li{
    background-color: #888a84;
    border: none;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin: 0 3px;
}

.DetailsArea .DetailsBody #ProductSlide .carousel-indicators li.active{
    background-color: #000;
} 

.DetailsArea .DetailsBody #ProductSlide .carousel-inner .item{ height: 350px }

.DetailsArea .DetailsBody #ProductSlide .carousel-inner .item img{ width: 100%; height: 100% }
 

.DetailsArea .DetailsBody .Describe aside{
    overflow: inherit;
}

.DetailsArea .DetailsBody .Describe aside h1{
    margin: 0 0 10px;
    color: #000;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    padding: 0 0 10px;
}

.DetailsArea .DetailsBody .Describe aside h1 span{
    display: block;
    font-weight: 500;
    font-size: 14px;
    color: #616161;
    margin: 4px 0 0 0;
}

.DetailsArea .DetailsBody .Describe aside h2{
    margin: 0 0 10px;

    color: #000;
    font-size: 23px;
    font-weight: 600;
    line-height: 20px;
}

.DetailsArea .DetailsBody .Describe aside h2 del{
    font-weight: 400;
    color: #717171;
    margin: 0 0 0 5px;
}

.DetailsArea .DetailsBody .Describe aside h2 span{
    color: #71298c;
    margin: 0 0 0 15px;
}

.DetailsArea .DetailsBody .Describe aside h3{
    margin: 0 0 15px;
    font-size: 13px;
    color: #585858;
}

.DetailsArea .DetailsBody .Describe aside .Size{
    margin: 0 0 15px 0;
    padding: 0 0 0px;
}

.DetailsArea .DetailsBody .Describe aside .Size h4{
    margin: 0 0 10px;

    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    font-size: 14px;
}

.DetailsArea .DetailsBody .Describe aside .Size h4 a{
    color: #71298c;
    margin: 0 0 0 40px;
}

.DetailsArea .DetailsBody .Describe aside .Size .chart {
    float: none;
    width: auto;
    padding: 0;
    display: inline-block;
    margin: 0 10px 0 0;
    position: relative;
}

.DetailsArea .DetailsBody .Describe aside .Size .chart span {
    position: absolute;
    bottom: -13px;
    border: 1px solid #fff;
    width: 77%;
    text-align: center;
    font-size: 11px;
    padding: 5px 0;
    background-color: #71298c;
    color: #fff;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 9px;

}

.DetailsArea .DetailsBody .Describe aside .Size .chart label {
    display: block;
    height: 50px;
    width: 50px;
    background-color: #fff;
    color: #888686;
    cursor: pointer;
    border: 2px solid #ddd;
    border-radius: 50%;
    margin: 0;
    text-align: center;
    font-size: 15px;
    line-height: 44px;
}

.DetailsArea .DetailsBody .Describe aside .Size .chart input[type=radio] {
    display: none;
}

.DetailsArea .DetailsBody .Describe aside .Size .chart input[type=radio]:checked ~ label {
    background-color: #71298c;
    border-color: #71298c;
    color: #fff;
}

.DetailsArea .DetailsBody .Describe aside .Size a.size-chart{
 

    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    font-size: 14px;
    color: #71298c;
    margin: 0 0 0 10px;
}

.DetailsArea .DetailsBody .Describe aside .Color {
    margin: 0 0 10px;
}

.DetailsArea .DetailsBody .Describe aside .Color p {
    color: #000;
    font-size: 17px;

    margin: 0;
    display: inline-block;
    margin: 0 20px 0 0;
    vertical-align: top;
}

.DetailsArea .DetailsBody .Describe aside .Color .color_shade {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 25px;
    height: 23px;
    display: inline-block;
    margin: 0 2px 0 0;
}

.DetailsArea .DetailsBody .Describe aside .Color .color_shade input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.DetailsArea .DetailsBody .Describe aside .Color .color_shade .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
    border-radius: 50%;
    border: 2px solid #bfbfbf;
}   
 
.DetailsArea .DetailsBody .Describe aside .Color .color_shade .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
 
.DetailsArea .DetailsBody .Describe aside .Color .color_shade input:checked ~ .checkmark:after {
    display: block;
}

.DetailsArea .DetailsBody .Describe aside .Color .color_shade input:checked ~ .checkmark {
    background-color: #2196F3;
    border-color: #df048b;
}
 
.DetailsArea .DetailsBody .Describe aside .Color .color_shade .checkmark:after {
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: transparent;
    right: 0;
    bottom: 0;
    margin: auto;
}

.DetailsArea .DetailsBody .Describe aside .Links{
    margin: 0 0 10px;
}

.DetailsArea .DetailsBody .Describe aside .Links a{
    padding: 9px 35px;
    border: 1px solid #ddd;
    display: inline-block;
    background-color: #71298c;
    color: #fff;
    margin: 0 16px 0 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    background-image: linear-gradient(-90deg, #712a8c, #ea008b);
}

.DetailsArea .DetailsBody .Describe aside .Links a img{
    margin: 0 10px 0 0
}

.DetailsArea .DetailsBody .Describe aside .Links a:hover{}

.DetailsArea .DetailsBody .Describe aside .Links a:hover img{}

.DetailsArea .DetailsBody .Describe aside .Links a:last-child{
    background: transparent;
    color: #6b6a6a;
}

.DetailsArea .DetailsBody .Describe aside .Links a:last-hild:hover{}

.DetailsArea .DetailsBody .Describe figcaption{

}

.DetailsArea .DetailsBody .Describe figcaption h2{
    margin: 0 0 8px;
    font-size: 17px;
    color: #000;
}


.DetailsArea .DetailsBody .Describe figcaption .ShareProduct{}

.DetailsArea .DetailsBody .Describe figcaption .ShareProduct a.Share{
    background-color: #71298c;
    color: #fff;
    padding: 6px 17px;
    float: left;
    border-radius: 5px;
}

.DetailsArea .DetailsBody .Describe figcaption .ShareProduct ol{float: left;margin: 3px 0 0 20px;}

.DetailsArea .DetailsBody .Describe figcaption .ShareProduct ol li{
    display: inline-block;
    margin: 0 15px 0 0;
}

.DetailsArea .DetailsBody .Describe figcaption .ShareProduct ol li a{
    font-size: 18px;
    color: #8a8888;
}

.DetailsArea .DetailsBody .Describe figcaption .ShareProduct ol li:nth-child(1) a:hover{ color: #3b5998 }
.DetailsArea .DetailsBody .Describe figcaption .ShareProduct ol li:nth-child(2) a:hover{ color: #1da1f2 }
.DetailsArea .DetailsBody .Describe figcaption .ShareProduct ol li:nth-child(3) a:hover{ color: #CC3333 }
.DetailsArea .DetailsBody .Describe figcaption .ShareProduct ol li:nth-child(4) a:hover{ color: #c4302b }
.DetailsArea .DetailsBody .Describe figcaption .ShareProduct ol li:nth-child(5) a:hover{ color: #3f729b }
.DetailsArea .DetailsBody .Describe figcaption .ShareProduct ol li:nth-child(6) a:hover{ color: #c8232c } 



.DetailsArea .DetailsBody .Describe figcaption h3{
    margin: 10px 0 10px;
    color: #71298c;
    font-size: 15px;
    font-weight: 500;
}

.DetailsArea .DetailsBody .Describe figcaption h4{
    margin: 0 0 8px;
    font-size: 15px;
    color: #000;
    line-height: 21px;
}

.DetailsArea .DetailsBody .Describe figcaption h4 span{
    display: block;
    font-weight: 400;
    color: #585858;
}

.DetailsArea .Product_Delivery{
    margin: 20px 0 0 0;
}

.DetailsArea .Product_Delivery .Details{
    border-top: 1px solid #ddd;
    padding: 20px 0 0 0;
}

.DetailsArea .Product_Delivery .Details h3{
    margin: 0 0 10px;
    text-transform: uppercase;

    font-size: 20px;
    font-weight: 600;
}

.DetailsArea .Product_Delivery .Details h4{
    margin: 0 0 10px;
    font-size: 14px;

    line-height: 19px;
}

.DetailsArea .Product_Delivery .Details p{
    font-size: 18px;

    color: #000;
    font-weight: 600;
}

.DetailsArea .Product_Delivery .Details p span{
    display: block;
    font-size: 17px;
    font-weight: 500;
    color: #525151;
    margin: 0 0 10px;
}

.DetailsArea .Product_Delivery .Details ol{}

.DetailsArea .Product_Delivery .Details ol li{

    font-weight: 500;
    font-size: 15px;
    width: 49%;
    display: inline-block;
    color: #000;
    margin: 0 0 6px 0;
}

.DetailsArea .Product_Delivery .Details ol li span{
    display: block;
    color: #6d6b6b;
    font-weight: 400;
}

.DetailsArea .Product_Delivery .Details a{

    text-transform: capitalize;
    font-weight: 500;
    color: #71298c;
    font-size: 15px;
}

.DetailsArea .Product_Delivery .Delivery{
    border-top: 1px solid #ddd;
    padding: 20px 0 0 0;
}

.DetailsArea .Product_Delivery .Delivery h3{
    margin: 0 0 10px;
    text-transform: uppercase;

    font-size: 20px;
    font-weight: 600;
}

.DetailsArea .Product_Delivery .Delivery h3 img{
    width: 15px;
}

.DetailsArea .Product_Delivery .Delivery form{
    border: 1px solid #ddd;
    width: 280px;
    height: 40px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin: 0 0 10px 0;
}

.DetailsArea .Product_Delivery .Delivery input{
    outline: 0;
    box-shadow: none;
    padding: 0 60px 0 15px;
    color: #000;
    border: 1px solid #ddd;
    width: 280px;
    height: 40px;
}

.DetailsArea .Product_Delivery .Delivery button{
    position: absolute;
    top: 63px;
    left: 250px;
    background-color: transparent;
    border: none;
    outline: 0;
    text-transform: capitalize;
    font-weight: 600;
    color: #71298c;
}

.DetailsArea .Product_Delivery .Delivery ul{
    margin: 5px 0 0 
}

.DetailsArea .Product_Delivery .Delivery ul li{
    font-size: 14px;
    line-height: 24px;
    color: #000;
    font-weight: 400;
}

.SimilarArea{
    padding: 0 0 50px 0
}

.SimilarArea h2{
    margin: 0 0 15px;

    color: #000;
    font-size: 26px;
    text-transform: capitalize;
    font-weight: 600;
}

.SimilarBox{
    margin: 0 0 20px 0;
}

.SimilarBox a{
    display: block;
}

.SimilarBox figure{
    margin: 0 0 10px;
    height: 185px;
    overflow: hidden;
}

.SimilarBox figure img{
    height: 100%;
}

.SimilarBox h4{
    margin: 0 0 6px;
    color: #000;
    font-weight: 600;
    font-size: 17px;
    word-break: break-all;
}

.SimilarBox h5{
    margin: 0 0 10px;
    font-size: 13px;
    font-weight: 500;
    color: #4a4949;
}

.SimilarBox h6{
    margin: 0 0 0;
    color: #000;
    font-weight: 600;
}

.SimilarBox h6 del{
    color: #797979;
}

.SimilarBox h6 span{
    color: #71298c;
}

.SimilarArea .MoreLinks{
    text-align: center;
    padding: 25px 0 0px;
}

.SimilarArea .MoreLinks a{
    border: 1px solid #71298c;
    color:  #71298c;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 50px;
    margin: 0 10px;
}

.SimilarArea .MoreLinks a .fa{
    margin: 0 0 0 10px;
}

.SimilarArea .MoreLinks a:hover{
    background-color: #71298c;
    color: #fff;
}
 
.DiscountArea{
    padding: 10px 0 10px 0;
}

.DiscountArea .DiscountBox{
    padding: 40px 50px 0;
    text-align: center;
    position: relative;
    background-size: cover;
}

.DiscountArea .DiscountBox:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(243, 134, 53, 0.9);
    width: 100%;
    height: 100%;
}

.DiscountArea .DiscountBox h1{
    position: relative;
    color: #fff;

    font-size: 40px;
    font-weight: 400;
    margin: 0 0 15px;
}

.DiscountArea .DiscountBox h2{
    color: #fff;
    position: relative;
    font-size: 28px;
    margin: 0 0 50px;

    font-weight: 400;
}

.DiscountArea .DiscountBox h2 span{
    font-weight: 700;
}

.Discountlist{
    margin: 0 0 40px;
}

.Discountlist a{
    display: block;
}

.Discountlist a figure{
    margin: 0;
}

.Discountlist a figure img{
    width: 100%;
}

.Discountlist a p{
    margin: 0;
    background-color: #fff;
    padding: 11px 0;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.DiscountArea a.view{
    background-color: #fff;
    position: relative;
    padding: 7px 40px;
    display: inline-block;
    font-size: 17px;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    width: auto;
    float: none;
}

.DiscountArea a.view:hover{
    background-color: #000;
    color: #fff;
}

.OccasionArea{
    padding: 20px 0 0px 0;
}

.OccasionArea h2{
    margin: 0 0 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    font-size: 25px
}

.OccasionArea .Occasionbox{
    text-align: center;
    border: 1px solid #ddd;
    padding: 4px;
    cursor: pointer;
}

.OccasionArea .Occasionbox figure{
    margin: 0;
}

.OccasionArea .Occasionbox figure img{
    width: 100%;
}

.OccasionArea .Occasionbox p{
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    color: #000;
    padding: 15px 0 10px;
    line-height: 15px;
    text-transform: uppercase;
}

.OccasionArea{}

.OccasionArea #BuySlider{    
    padding: 100px 0;
    text-align: center;
    position: relative;
    background-size: cover;
}

.OccasionArea #BuySlider:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(179, 24, 117, 0.85);
}

.OccasionArea #BuySlider .item .BuySliderBox h3{ 
    color: #fff;
    margin: 0 0 0;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 70px;
}

.OccasionArea #BuySlider .item .BuySliderBox a{
    background-color: #fff;
    padding: 10px 40px;
    display: inline-block;
    margin: 30px 0 0 0;
    text-transform: uppercase;
    color: #b31875;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.OccasionArea #BuySlider .carousel-control{
    background: transparent;
    width: 70px;
    opacity: 1;
    text-shadow: none;
    font-size: 30px;
    top: 50%;
    bottom: auto;
}
.CollectionArea{
    padding: 20px 0 0 0;
}

.CollectionArea .CollectionList{
    margin: 0 0 30px;
}

.CollectionArea .CollectionList h2{
    margin: 0 0 10px;
    text-transform: uppercase;

    font-weight: 700;
    color: #000;
    font-size: 25px
}

.CollectionList #Ethnic .owl-nav,
.CollectionList #jumpsuits .owl-nav,
.CollectionList #lastest_top .owl-nav,
.CollectionList #Footwear .owl-nav,
.CollectionList #Watches .owl-nav,
.CollectionList #Stylish_Tops .owl-nav{
    margin: 0;
    position: absolute;
    top: -34px;
    right: 0;
}

.CollectionList #Ethnic .owl-nav .owl-prev,
.CollectionList #Ethnic .owl-nav .owl-next,
.CollectionList #jumpsuits .owl-nav .owl-prev,
.CollectionList #jumpsuits .owl-nav .owl-next,
.CollectionList #lastest_top .owl-nav .owl-prev,
.CollectionList #lastest_top .owl-nav .owl-next,
.CollectionList #Footwear .owl-nav .owl-prev,
.CollectionList #Footwear .owl-nav .owl-next,
.CollectionList #Watches .owl-nav .owl-prev,
.CollectionList #Watches .owl-nav .owl-next,
.CollectionList #Stylish_Tops .owl-nav .owl-prev,
.CollectionList #Stylish_Tops .owl-nav .owl-next{
    margin: 0 0 0 4px;
    padding: 0;
    border: none;
    background-color: #c7c7c7;
    outline: 0;
    width: 24px;
    height: 27px;
    font-size: 16px;
    text-align: center;
    color: #000;
}
 
.CollectionBox{
    margin: 0 0 0px 0;
    cursor: pointer;
}

.CollectionBox a{
    display: block;
}

.CollectionBox figure{
    margin: 0 0 10px; 
    height: 300px !important
}

.CollectionBox figure img{
    height: 100%
}

.CollectionBox figcaption{
    text-align: center;
}

.CollectionBox figcaption h3{
    margin: 0 0 6px;
    color: #000;
    font-weight: 600;
    font-size: 17px;
    text-transform: capitalize;
    line-height: 24px
}

.CollectionBox figcaption h4{
    margin: 0 0 6px;
    font-size: 16px;
    font-weight: 400;
    color: #4a4949;
}

.CollectionBox figcaption p{
    margin: 0 0 0;
    color: #e00d8f;
    font-weight: 500;

    font-size: 15px;
}

.CollectionBox figcaption p del{
    color: #797979;
}

.CollectionBox figcaption p span{
    color: #71298c;
}


.FashionBuyArea{
    background-color: #e9e9e9;
    padding: 30px 0;
}

.FashionBuyArea h3{
    margin: 0 0 10px;
    text-align: center;
    color: #000;
    text-transform: uppercase;

    font-weight: 600;
}

.FashionBuyArea h4{
    margin: 0 0 30px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}

.FashionBuyArea .FashionBuyLeft{
    text-align: center;
    padding: 60px 0;
}

.FashionBuyArea .FashionBuyLeft h1{
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 35px;
    line-height: 48px;
}

.FashionBuyArea .FashionBuyLeft h1 span{
    display: block;
    font-weight: 800;
    color: #000;
    font-size: 50px;
}

.FashionBuyArea .FashionBuyLeft a{
    background-color: #000;
    padding: 11px 31px;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.8px;
    font-size: 14px;
}

.FashionBuyArea .FashionBuyLeft a:hover{
    background-color: #e00d8f
}

.FashionBuyArea ul li{
    width: calc(100% / 4);
    float: left;
    padding: 0 10px;
    text-align: center;
}

.FashionBuyArea ul li:nth-child(even){
    margin: 50px 0 0 0
}

.FashionBuyArea ul li a{
    display: block;
}

.FashionBuyArea ul li figure{
    margin: 0;
}

.FashionBuyArea ul li p{

    font-weight: 600;
    text-transform: capitalize;
    font-size: 15px;
    margin: 10px 0 0;
    color: #000;
}

.ClothingArea{
    padding: 50px 0 0; 
}

.ClothingArea .Clothing{
    position: relative;
    padding: 0 0 0 100px;
    margin: 0 0 25px;
    min-height: 125px
}

.ClothingArea .Clothing figure{
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 90px
}

.ClothingArea .Clothing h3{
    margin: 0 0 10px;
    text-transform: uppercase;

    color: #000;
    font-weight: 600;
    font-size: 20px;
}

.ClothingArea .Clothing ul li{
    width: 49%;
    display: inline-block;
    line-height: 27px;
}

.ClothingArea .Clothing ul li a{
    text-transform: uppercase;
    color: #616060;
    font-size: 14px;

    font-weight: 500;
}

.ClothingArea .Clothing ul li a:hover{
    color: #000;
}

.TermsArea {
    padding: 50px 0;

}

.TermsArea h3 {
    margin: 0 0 20px;
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 28px;
    padding: 0 0 5px;
    position: relative;
    color: #000;
}

.TermsArea h3:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 125px;
    height: 2px;
    background-color: #000;
}

.TermsArea h4 {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    color: #000;
}

.TermsArea p+h4,
.TermsArea ul+h4 {
    margin: 20px 0 10px 0;
}

.TermsArea p {
    margin: 0 0 10px;
    font-size: 15px;
    line-height: 25px;
    color: #000;
    font-weight: 400;
}

.TermsArea ul {
    margin: 0 0 10px 0;
    padding: 0 0 0 20px;
}

.TermsArea ul li {
    font-size: 15px;
    line-height: 26px;
    color: #000;
    list-style: disc;
}

.AboutArea {
    padding: 50px 0px;

}

.AboutArea h3 {
    margin: 0 0 13px;
    font-size: 28px;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 28px;
    padding: 0 0 5px;
    position: relative;
    color: #000;
}

.AboutArea h3:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 115px;
    height: 2px;
    background-color: #000;
}

.AboutArea p {
    margin: 0 0 12px;
    font-size: 15px;
    line-height: 27px;
    color: #000;
    font-weight: 400;
}

.AboutArea ul {
    margin: 0 0 10px 0;
    padding: 0 0 0 20px;
}

.AboutArea ul li {
    font-size: 15px;
    line-height: 29px;
    color: #000;
    list-style: disc;
}

.LoginArea{
    background-image: linear-gradient(-90deg, #d4bfdc, #f9b2dc);
    margin: 50px 0 0 0;
    padding: 50px 0;
}

.LoginArea .LoginForm{
    background-color: #fff;
    padding: 50px;
    box-shadow: 0px 0px 7px #828181;
}

.LoginArea .LoginForm form h3{
    margin: 0 0 30px;
    text-align: center;
    color: #71298c;
    text-transform: capitalize;

    font-size: 24px;
}

.LoginArea .LoginForm form h4{
    margin: 0 0 40px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 400;
    color: #504e4e;
    font-size: 19px;
}

.LoginArea .LoginForm form ul{
    text-align: center;
    margin: 0 0 40px;
}

.LoginArea .LoginForm form ul li{
    display: inline-block;
    margin: 0 10px;
}

.LoginArea .LoginForm form ul li a{
    display: block;
    border: 1px solid #ddd;
    width: 200px;
    padding: 13px 0;
    text-transform: capitalize;
    color: #504f4f;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    transition: 0.4s all ease-in-out;
}

.LoginArea .LoginForm form ul li a img{
    width: 23px;
    margin: 0 6px 0 0;
    transition: 0.4s all ease-in-out;
}

.LoginArea .LoginForm form ul li a:hover{
    background-image: linear-gradient(-90deg, #712a8c, #ea008b);
    border-color: #fff;
    color: #fff;
}

.LoginArea .LoginForm form ul li a:hover img{
    filter: brightness(0) invert(1);
}

.LoginArea .LoginForm form h5{
    margin: 0 0 50px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: #4e4e4e;
    letter-spacing: 0.5px;
    font-weight: 400;
}

.LoginArea .LoginForm form .form-group{
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 0 40px;
    border-bottom: none;
}

.LoginArea .LoginForm form .form-group .form-control{
    box-shadow: none;
    border: none;
    margin: 0;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    padding: 15px 15px;
    height: auto;
}

.LoginArea .LoginForm form .form-group .Select{
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

.LoginArea .LoginForm form .form-group .Select p{

    font-size: 16px;
    color: #868585;
    display: inline-block;
    width: 80px;
    margin: 0;
}

.LoginArea .LoginForm form .form-group .Select .radio-inline{
    font-size: 16px;
    text-transform: capitalize;
    color: #928f8f;
}

.LoginArea .LoginForm form button{
    background-image: linear-gradient(-90deg, #712a8c, #ea008b);
    width: 80%;
    border: none;
    padding: 10px 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 1px;
    margin: 0 auto 30px;
    display: block;
    border-radius: 5px;
    outline: 0;
    transition: 0.5s all ease-in-out;
}

.LoginArea .LoginForm form button:hover{
    background-position: 520px 0px;
}

.LoginArea .LoginForm form .Links a{
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    color: #81258c;
}

.LoginArea .LoginForm form .Links p{
    float: right;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    color: #000;
}

.LoginArea .LoginForm form .Links h6{
    margin: 0;
    text-align: center;
    font-size: 16px;
    color: #3e3e3e;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.LoginArea .LoginForm form .Links h6 a{
    font-weight: 400;
}

.LoginArea .LoginForm form .Links h6 a:hover{
    color: #000;
}

.FaqArea {
    padding: 50px 0;
}

.FaqArea .FaqLeft h1{
    margin: 0 0 20px;
    text-transform: capitalize;
    font-weight: 600;
    color: #000;
    letter-spacing: 0.5px;
    font-size: 25px;
}

.FaqArea .FaqLeft .panel-group{
    margin: 0;
}

.FaqArea .FaqLeft .panel-group .panel{
    box-shadow: none;
    border: 1px solid #e6e6e6;
    border-radius: 0;
}

.FaqArea .FaqLeft .panel-group .panel+.panel{
    margin: 15px 0 0 0;
}

.FaqArea .FaqLeft .panel-group .panel .panel-heading{
    cursor: pointer;
    padding: 15px 20px;
    position: relative;
} 

.FaqArea .FaqLeft .panel-group .panel .panel-heading:after{
    content: '\f103';
    font-family: FontAwesome;
    position: absolute;
    top: 20px;
    right: 15px;
    color: #7d7d7d;
    font-size: 18px;
    line-height: 10px;
}

.FaqArea .FaqLeft .panel-group .panel .panel-heading[aria-expanded="true"] {
    background-image: linear-gradient(-90deg, #712a8c, #ea008b);
}

.FaqArea .FaqLeft .panel-group .panel .panel-heading[aria-expanded="true"]:after{
    color: #fff;
    content: '\f102';
}

.FaqArea .FaqLeft .panel-group .panel .panel-heading[aria-expanded="true"] h4,
.FaqArea .FaqLeft .panel-group .panel .panel-heading[aria-expanded="true"] h4 span{
    color: #fff;
}

.FaqArea .FaqLeft .panel-group .panel .panel-heading h4{
    margin: 0;
    font-weight: 500;
    color: #424141;
    font-size: 15px;
}

.FaqArea .FaqLeft .panel-group .panel .panel-heading h4 span{
    color: #000;
    font-weight: 600;
    font-size: 17px;
}

.FaqArea .FaqLeft .panel-group .panel .panel-body p{
    font-size: 14px;
    line-height: 24px;
}

.item{
    float: none;
    width: auto;
}

.active{
    background-color: transparent;
}

.Discountlist img{
    width: 100%;
}

#Menu form .typeahead.dropdown-menu{
    border-radius:  0;
    padding: 0;
    border: 2px solid #fff;
}

#Menu form .typeahead.dropdown-menu li{}

#Menu form .typeahead.dropdown-menu li a{
    padding:  6px 20px;
    background-color: #fff;
    color: #000;
}

#Menu form .typeahead.dropdown-menu li a strong{
    margin: 0px;
    font-weight: 400;
}

#Menu form .typeahead.dropdown-menu li a:hover{
    background-color: #712a8c;
    color: #fff;
}

.Pricess img{
    width: 100%;
}

/*#owl-demo1 span{color:#cbcbca}
#owl-demo2 .owl-nav span{color:#000}
#owl-demo3span{color:#c9c8c9}
div#owl-demo3 button.owl-next{position:absolute;top:40%;right:2%}
div#owl-demo3 button.owl-prev{position:absolute;top:40%;left:2%}
.lefts #owl-demo4 span{color:#000;margin:0px!important}
div#owl-demo3 button.owl-prev{position:absolute;top:20%;left:0%}
div#owl-demo3 button.owl-next{top:20%;right:0%}
div#owl-demo2 button.owl-prev{position:absolute;top:18%;left:0%}
div#owl-demo2 button.owl-next{position:absolute;top:22%;right:0%}
button.owl-next{top:23%;right:1%}
button.owl-prev{top:23%!important;right:-2%!important}
div#owl-demo3 button.owl-next{top:20%;right:0%}
div#owl-demo2 button.owl-prev{position:absolute;top:18%;left:0%}
div#owl-demo2 button.owl-next{position:absolute;top:22%;right:0%}
button.owl-next{top:23%;right:1%}
button.owl-prev{top:23%!important;right:-2%!important}
div#owl-demo2 button.owl-next{position:absolute;top:30%;right:1%}
div#owl-demo2 button.owl-prev{position:absolute;top:45%;left:-2%}
div#owl-demo2 .owl-theme .owl-nav{color:#000;font-size:24px;margin:5px;background:none;display:inline-block;cursor:pointer;border-radius:3px}
div#owl-demo3 button.owl-next{position:absolute;top:40%;right:2%}
div#owl-demo3 button.owl-prev{position:absolute;top:40%;left:2%}
#owl-demo4 span{color:#000}
div#owl-demo2 button.owl-next{position:absolute;top:29%!important;right:2%!important}
div#owl-demo2 button.owl-prev{position:absolute;top:30%;left:3%!important}
.wat{padding:0 10px!important}
div#owl-demo3 button.owl-prev{position:absolute;top:25%!important;left:8%!important}
div#owl-demo3 button.owl-next{position:absolute;top:25%!important;right:8%!important}
.owl-theme .owl-nav [class*=owl-]{margin:0 16px!important}
div#owl-demo2 button.owl-next{position:absolute;top:32%;right:2%}
div#owl-demo2 button.owl-prev{position:absolute;top:30%;left:1%}
div#owl-demo2 .owl-theme .owl-nav{color:#000;font-size:24px;margin:5px;background:none;display:inline-block;cursor:pointer;border-radius:3px}


*/
 

#Watch .owl-nav button.owl-prev{
    position: absolute;
    top: 35%;
    left: 10px;
    font-size: 65px;
    font-weight: 400;
    color: #ababa9;
}

#Watch .owl-nav button.owl-next {
    position: absolute;
    top: 35%;
    right: 10px;
    font-size: 65px;
    font-weight: 400;
    color: #ababa9;
}

#owl-demo2 .owl-nav button.owl-prev{
    position: absolute;
    top: 30%;
    left: -30px;
    font-size: 65px;
    font-weight: 400;
    opacity: 1;
    color: #000000;
}

#owl-demo2 .owl-nav button.owl-next {
    position: absolute;
    top: 35%;
    right: -30px;
    font-size: 65px;
    font-weight: 400;
    color: #000000;
    opacity: 1;
}

#owl-demo3 .owl-nav button.owl-prev{
    position: absolute;
    top: 35%;
    left: 10px;
    font-size: 65px;
    font-weight: 400;
    color: #ababa9;
}

#owl-demo3 .owl-nav button.owl-next {
    position: absolute;
    top: 35%;
    right: 10px;
    font-size: 65px;
    font-weight: 400;
    color: #ababa9;
}

#owl-demo3 .watch{ padding: 0 }

#owl-demo .owl-nav button.owl-prev,
#owl-demo4 .owl-nav button.owl-prev ,
#HotDeal .owl-nav button.owl-prev {
    position: absolute;
    top: 35%;
    left: 10px;
    font-size: 55px;
    opacity: 1;
    font-weight: 400;
    height: 50px;
    line-height: normal;
    min-height: auto;
}

#owl-demo .owl-nav button.owl-next,
#owl-demo4 .owl-nav button.owl-next,
#HotDeal .owl-nav button.owl-next {
    position: absolute;
    top: 35%;
    right: 10px;
    font-size: 55px;
    opacity: 1;
    font-weight: 400;
    height: 50px;
    line-height: normal;
    min-height: auto;
}

#owl-demo .owl-nav button.owl-prev span,
#owl-demo .owl-nav button.owl-next span,
#owl-demo4 .owl-nav button.owl-prev span,
#owl-demo4 .owl-nav button.owl-next span,
#HotDeal .owl-nav button.oowl-prev span,
#HotDeal .owl-nav button.owl-next span {
    height: auto;
    min-height: auto;
    line-height: normal;
}

.discount .row{
    margin: 0-5px
}

.discount .row .col-md-3{
    padding: 0 6px
}

.PickedArea h1 span{
    position: relative;
    font-style: italic;
}

.PickedArea h1 span:before,
.PickedArea h1 span:after{
    content: '';
    width: 13px;
    height: 13px;
    position: absolute;
    background-color: #dac08f;
    transform: rotate(45deg);
    left: -60px;
    top: 6px;
}

.PickedArea h1 span:after{
    left: auto;
    right: -60px;
}

.right{
    padding: 0px;
}



/* *************************** Dashboard *************************** */

.DashboardArea{padding:50px 0}
.DashboardArea .SideNavbar{box-shadow:0 2px 11px #d6d6d6}
.DashboardArea .SideNavbar ul li a{display:block;padding:12px 15px 12px 45px;color:#565656;border-bottom:1px solid #d4d3d3;text-transform:capitalize;position:relative;font-size:15px;font-weight:500}
.DashboardArea .SideNavbar ul li a .fa{position:absolute;top:15px;left:15px}
.DashboardArea .SideNavbar ul li:last-child a{border-bottom:none}
.DashboardArea .SideNavbar ul li a:hover{background-color:#eaeaea}
.DashboardArea .SideNavbar ul li.active a{background-color:#712a8c;color:#fff;border-color:#712a8c}
.UserDashboard{box-shadow:0 2px 10px #e2dfdf;padding:25px}

.ProfileArea .Profileinfo figure{position:relative;margin:0 0 20px 0;border:5px solid #712a8c}
.ProfileArea .Profileinfo figure a{position:absolute;top:0;right:0;color:#fff;font-size:18px;width:35px;height:35px;text-align:center;background-color:#712a8c;padding:7px 0}
.ProfileArea .Profileinfo figure img{width:100%}
.ProfileArea .Profileinfo figcaption h4{font-size:14px;color:#636363;font-weight:500;margin:0 0 10px}
.ProfileArea .Profileinfo figcaption h4 span{color:#000;font-weight:700;text-transform:capitalize}
.ProfileArea form{width:100%;background-color:#f7f7f7;padding:25px;border:1px solid #e4e3e3}
.ProfileArea form h3{text-transform:capitalize;color:#000;font-weight:700;font-size:24px;margin:0 0 10px}
.ProfileArea form p{font-size:14px;line-height:23px;font-weight:400;color:#676767;margin:0 0 15px}
.ProfileArea form .form-group label{font-weight:500;color:#403f3f;text-transform:capitalize;font-size:14px}
.ProfileArea form .form-group .form-control{margin:0}
.ProfileArea form .form-group .form-control:disabled{background-color:#e9ecef!important;color:#737373}
.ProfileArea form button{color:#fff;border:2px solid #712a8c;padding:7px 23px;display:inline-block;font-weight:400;border-radius:0;background-color:#712a8c;margin:10px 0 0 0;text-transform:capitalize;cursor:pointer;font-size:16px}
.ProfileArea form button:hover{background-color:#ea008b;border-color:#ea008b}

.PasswordArea form{border-right:1px solid #ddd;padding:0 30px 0 0}
.PasswordArea form h1{color:#000;font-size:23px;text-transform:capitalize;font-weight:700;margin:0 0 18px}
.PasswordArea form .form-group{margin:0 0 20px 0}
.PasswordArea form .form-group label{font-size:14px;color:#3c3c3c;text-transform:capitalize;font-weight:500}
.PasswordArea form .form-group .form-control{margin:0 0 0}
.PasswordArea form button{border:1px solid #712a8c;padding:7px 30px;background-color:transparent;outline:0;text-transform:uppercase;color:#712a8c;font-size:15px;font-weight:600;letter-spacing:.5px;border-radius:4px;cursor:pointer}
.PasswordArea form button:hover{background-color:#712a8c;color:#fff}
.PasswordArea .Description{padding:0 0 0 0}
.PasswordArea .Description h1{color:#000;font-size:23px;text-transform:capitalize;font-weight:700;margin:0 0 10px}
.PasswordArea .Description p{font-size:13px;line-height:19px;font-weight:500;color:#696969}

.ReferArea{text-align:center;padding:40px 20px}
.ReferArea img{width:250px;display:block;margin:0 auto 40px}
.ReferArea h2{margin:0 0 19px;font-size:36px;font-weight:700;letter-spacing:.5px;color:#712a8c;line-height:28px}
.ReferArea h3{margin:0 0 12px;font-size:18px;font-weight:600;color:#712a8c}
.ReferArea p{font-size:14px;width:60%;margin:0 auto 15px;font-weight:500;color:#545454;line-height:24px}
.ReferArea a{background-color:#712a8c;padding:11px 70px;display:inline-block;color:#fff;font-size:20px;border-radius:5px;transition:0.5s all ease-in-out}
.ReferArea a:hover{background-color:#eb008b}

footer .Footer .Foots ol li:nth-child(1) a:hover{ color: #3b5998 }
footer .Footer .Foots ol li:nth-child(2) a:hover{ color: #1da1f2 }
footer .Footer .Foots ol li:nth-child(3) a:hover{ color: #CC3333 }
footer .Footer .Foots ol li:nth-child(4) a:hover{ color: #c4302b }
footer .Footer .Foots ol li:nth-child(5) a:hover{ color: #3f729b }
footer .Footer .Foots ol li:nth-child(6) a:hover{ color: #c8232c } 

.cheaks .container .checkmark:after{left:7px;top:4px;width:5px;height:9px;border:solid white;border-width:0 2px 2px 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(61deg)}
.lis strong{-webkit-line-clamp:2;overflow:hidden;display:block;margin:0;height:40px}
.pagination{display:block;padding-left:0;margin:0 0;border-radius:4px;float:left;width:100%;text-align:center}
.pagination li{display:inline-block}
.pagination li.page-item a,
.pagination li.page-item span{float:none;padding:7px 16px}
.pagination li span{display:block;float:none}

.ModalBox .modal-dialog{width:650px;margin:40px auto}
.ModalBox .modal-dialog .modal-content{box-shadow:none;border:none}
.ModalBox .modal-dialog .modal-content .modal-body{padding:0}
.modal-backdrop{margin:0 0 0 0;padding:50px 0;opacity:0.6!important}

.LoginForm{background-color:#fff;padding:40px 50px;box-shadow:0 0 7px #828181}
.LoginForm form h3{margin:0 0 20px;text-align:center;color:#71298c;text-transform:capitalize;font-size:20px}
.LoginForm form h4{margin:0 0 20px;text-align:center;text-transform:capitalize;font-weight:400;color:#504e4e;font-size:17px}
.LoginForm form ul{text-align:center;margin:0 0 25px}
.LoginForm form ul li{display:inline-block;margin:0 10px}
.LoginForm form ul li a{display:block;border:1px solid #ddd;width:170px;padding:10px 0;text-transform:capitalize;color:#504f4f;font-size:16px;font-weight:500;border-radius:5px;transition:0.4s all ease-in-out}
.LoginForm form ul li a img{width:23px;margin:0 6px 0 0;transition:0.4s all ease-in-out}
.LoginForm form ul li a:hover{background-image:linear-gradient(-90deg,#712a8c,#ea008b);border-color:#fff;color:#fff}
.LoginForm form ul li a:hover img{filter:brightness(0) invert(1)}
.LoginForm form h5{margin:0 0 25px;text-align:center;font-size:20px;text-transform:uppercase;color:#4e4e4e;letter-spacing:.5px;font-weight:400}
.LoginForm form .form-group{border-radius:5px;overflow:hidden;margin:0 0 30px; }
.LoginForm form .form-group div{ position: relative; border: 1px solid #ddd; margin: 0px 0 0 0;}
.LoginForm form .form-group div span.formerror { color: red; position: absolute; top: 10px; right: 14px; font-size: 15px; float: none;width: auto; margin: 0px }
.LoginForm form .form-group div+div{ margin: -1px 0 0 0 }
.LoginForm form .form-group .form-control{box-shadow:none;border:none;margin:0; font-size:15px;padding:12px 15px;height:auto}
.LoginForm form .form-group .Select{border-bottom:1px solid #ddd;padding:12px 15px}
.LoginForm form .form-group .Select p{font-size:16px;color:#868585;display:inline-block;width:80px;margin:0}
.LoginForm form .form-group .Select .radio-inline{font-size:16px;text-transform:capitalize;color:#928f8f}
.LoginForm form button{background-image:linear-gradient(-90deg,#712a8c,#ea008b);width:350px;border:none;padding:9px 0;color:#fff;text-transform:uppercase;font-size:20px;letter-spacing:1px;margin:0 auto 20px;display:block;border-radius:5px;outline:0;transition:0.5s all ease-in-out}
.LoginForm form button:hover{background-position:350px 0}
.LoginForm form .Links a{font-size:15px;font-weight:500;text-transform:capitalize;color:#81258c}
.LoginForm form .Links p{float:right;margin:0;font-size:15px;font-weight:500;color:#000}
.LoginForm form .Links h6{margin:0;text-align:center;font-size:16px;color:#3e3e3e;font-weight:400;letter-spacing:.4px}
.LoginForm form .Links h6 a{font-weight:400}
.LoginForm form .Links h6 a:hover{color:#000}

header .navbar .Navigation form{float:right;width:37%;text-align:right;padding:5px 0;display:flex}
.discount{float:left;width:100%;margin:0 0 20px 0}
.PickedArea{padding:20px 0 40px}
.popcake{height:585px;overflow:hidden}
.GymArea .gymimg a{display:block;height:220px;overflow:hidden}
.watex{text-align:center;font-size:18px;font-weight:600;background-color:#f1f1f1;padding:6px 0}
.WatchArea .BRANDS .watex p{color:#000;margin:0}
.owl-theme .owl-nav{margin:0px!important}

.Filters{border-bottom:1px solid #ccc;padding:15px 20px 15px 0;margin:0 -15px 0 0}
.Filters h3{margin:0;font-weight:600;color:#5b5b5b;font-size:17px;text-transform:uppercase}
.Filters h3 a{float:right;font-weight:500}

.FilterSort{border-bottom:1px solid #ccc;padding:6px 0 12px;text-align:right}
.FilterSort .Sort{padding:5px 9px 5px 15px;border:1px solid#ccc;color:#5f5f5f;display:inline-block;border-radius:6px}
.FilterSort .Sort label{margin:0 10px 0 0}
.FilterSort .Sort select{border:none;color:#5f5f5f}
.list .col-md-3{padding:0 15px 0 15px}
.list .col-md-9{padding-left:0}
.mainsidebar{border:none;position:relative}
.mainsidebar:after{content:'';position:absolute;right:-15px;top:0;width:1px;height:100%;background-color:#ccc}
.lis{margin:0 0 20px;min-height:inherit}
.lis figure{margin:0 0 10px;height:230px}
.lis figure img{margin:0; height: 100%; }
.lis .cros{margin:0}
.lis .cros strong{height:auto}

.RegisteBackdrop{overflow:hidden}
.RegisteBackdrop .modal{overflow-x:hidden;overflow-y:auto}
.clothes{margin-top:20px}
.clothes .col-xs-12:first-child{padding:0 5px 0 15px}
.clothes .col-xs-12:last-child{padding:0 15px 0 5px}
.GymArea .gymimg .col-xs-12:nth-child(1){padding:0 5px 0 15px}
.GymArea .gymimg .col-xs-12:nth-child(2){padding:0 10px 0 10px}
.GymArea .gymimg .col-xs-12:nth-child(3){padding:0 10px 0 5px}
.GymArea .gymimg .col-xs-12:nth-child(4){padding:0 15px 0 5px}
a.CloseButton{position:absolute;top:-20px;right:-20px;width:40px;height:40px;color:#000;font-size:30px;text-align:center;line-height:30px;background-color:#fff;border-radius:50%;border:3px solid rgba(0,0,0,.6)}



/* ************************ 09 / 10 / 2019 ***************************** */

.AccountArea{padding:50px 0}
.AccountArea .AccountHead{margin:0 0 50px 0}
.AccountArea .AccountHead h1{margin:0 0 10px;font-size:30px;color:#000;font-weight:600;border-bottom:1px solid #ddd;padding:0 0 7px}
.AccountArea .AccountHead h2{margin:0 0 0;font-size:20px;color:#000;font-weight:600}
.AccountArea .AccountLeft #accordion .panel{border:1px solid #d4d4d4}
.AccountArea .AccountLeft #accordion .panel+.panel{margin:20px 0 0 0}
.AccountArea .AccountLeft #accordion .panel .panel-heading{padding:15px 20px;cursor:pointer;color:#8e8e8e}
.AccountArea .AccountLeft #accordion .panel .panel-heading.Active{background-color:#71298c;color:#fff}
.AccountArea .AccountLeft #accordion .panel .panel-heading.Active:after{content:'';top:14px;width:10px;height:17px;border:solid white;border-width:0 2px 2px 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(50deg);position:absolute;right:50px}
.AccountArea .AccountLeft #accordion .panel .panel-heading h4{margin:0;text-transform:uppercase;font-size:19px;font-weight:600;letter-spacing:1px}
.AccountArea .AccountLeft #accordion .panel .panel-body{padding:0 0}

.AddressBox{padding:0}
.AddressBox aside{border-top:1px solid #ddd;padding:15px 30px;text-align:center;margin:25px 0 0 0}
.AddressBox aside a{border:1px solid #ddd;padding:10px 0;display:inline-block;width:200px;text-transform:uppercase;font-size:16px;color:#484848;font-weight:600;letter-spacing:1px;text-align:center}
.AddressBox aside a:hover{background-color:#71298c;border-color:#71298c;color:#fff}
.Address{display:block;position:relative;padding:25px 20px 0 65px;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;margin:0}
.Address+.Address{border-top:1px solid #ddd;margin:25px 0 0 0}
.Address input{position:absolute;opacity:0;cursor:pointer}
.Address .checkmark{position:absolute;top:25px;left:25px;height:25px;width:25px;background-color:transparent;border-radius:50%;border:2px solid #bdbdbd}
.Address:hover input~.checkmark{background-color:#ccc}
.Address input:checked~.checkmark{background-color:transparent;border-color:#71298c}
.Address .checkmark:after{content:"";position:absolute;display:none}
.Address input:checked~.checkmark:after{display:block}
.Address .checkmark:after{top:0;left:1px;width:11px;height:11px;border-radius:50%;background:#71298c;right:0;bottom:0;margin:auto}
.Address h3{margin:0 0 5px;font-size:20px;font-weight:600;color:#000}
.Address p{font-size:16px;color:#5d5d5d;line-height:24px;margin:0 0 11px 0}
.Address span.Location{background-color:#e6e6e6;padding:7px 30px;display:inline-block;color:#585858;font-size:16px;text-transform:uppercase;letter-spacing:1px}
.Address ul{position:absolute;top:25px;right:25px;opacity:0}
.Address ul li{display:inline-block;margin:0 0 0 15px}
.Address ul li a{font-size:17px;color:#6f6f6f}
.Address ul li a:hover{color:#71298c}
.Address:hover ul{opacity:1}

.UserAddress h2{margin:0 0 0;font-weight:700;color:#712a8c;font-size:27px;text-transform:capitalize}
.UserAddress h2 a{float:right;font-size:15px;margin:7px 0;color:#6f6d6d;letter-spacing:.5px;font-weight:600}
.UserAddress h2 a:hover{color:#712a8c}
.UserAddress .Address{padding:15px 20px 0 45px}
.UserAddress .Address .checkmark{top:15px;left:10px}
.UserAddress .Address .checkmark:after{left:0}

.AddAddress h3{margin:0 0 11px 15px;font-weight:700;color:#000;font-size:25px;padding:0 0 5px 0;position:relative}
.AddAddress h3:after{content:'';position:absolute;left:0;bottom:0;width:130px;background-color:#000;height:1px}
.AddAddress form .form-group label{display:block;font-size:15px;margin:0 0 4px;color:#6f6f6f;letter-spacing:.4px}
.AddAddress form .form-group .form-control{box-shadow:none;margin:0;border:1px solid #ddd;font-size:16px;padding:9px 15px;height:auto}
.AddAddress form .form-group .Address{padding:0 0 0 35px;margin:0 0 20px}
.AddAddress form .form-group .Address .checkmark{border-color:#71298c;width:23px;height:23px;top:0;left:0}
.AddAddress form .form-group .Address:hover .checkmark{background-color:transparent}
.AddAddress form .form-group .Address .checkmark:after{left:0}
.AddAddress form .form-group .Address h4{margin:0 0 0;color:#000;font-weight:600;line-height:19px;font-size:16px}
.AddAddress form .form-group .Address h4 span{display:block;font-size:15px;font-weight:400}
.AddAddress form .form-group button{background-image:linear-gradient(-90deg,#712a8c,#ea008b);width:250px;border:none;padding:11px 0;color:#fff;text-transform:uppercase;font-size:16px;letter-spacing:1px;margin:0 auto 0;display:block;border-radius:5px;outline:0;transition:0.5s all ease-in-out}
.AddAddress form .form-group button:hover{background-position:250px 0}

.DetailsArea .DetailsBody .Describe aside .Links button{padding:9px 35px;border:1px solid #ddd;display:inline-block;background-color:#71298c;color:#fff;margin:0 16px 0 0;text-transform:uppercase;font-weight:500;font-size:14px;letter-spacing:.5px;background-image:linear-gradient(-90deg,#712a8c,#ea008b)}
.BagOrder .radio{margin:20px 0;font-size:16px}
.BagOrder .Links .placebutton{border:1px solid #ddd;padding:12px 0;margin:0 8px;display:inline-block;width:240px;text-transform:uppercase;font-size:16px;color:#000;font-weight:500;letter-spacing:.5px}

.track .modal-dialog{width:500px;margin:100px auto 50px}
.track .modal-dialog .modal-content{box-shadow:none}
.track .modal-dialog .modal-content .TrackBox{padding:20px 0 0 0}
.track .modal-dialog .modal-content .TrackBox a{position:absolute;top:-20px;right:-20px;width:40px;height:40px;background-color:#fff;border:3px solid rgba(0,0,0,.6);border-radius:50%;text-align:center;color:#712a8c;font-size:24px;font-weight:600;line-height:30px}
.track .modal-dialog .modal-content .TrackBox h4{margin:0 0 20px 0;text-align:center;font-weight:700;color:#712a8c;font-size:20px}
.track .modal-dialog .modal-content .TrackBox article{padding:20px 25px;border-top:1px solid #ddd}
.track .modal-dialog .modal-content .TrackBox article ul li{font-size:17px;font-weight:500;padding:0 0 35px 0;color:#656363}
.track .modal-dialog .modal-content .TrackBox article ul li span{color:#712a8c;font-weight:600;position:relative}
.track .modal-dialog .modal-content .TrackBox article ul li+li span:after{content:'';position:absolute;width:2px;background-color:#712a8c;height:30px;bottom:25px;left:7px}
.track .modal-dialog .modal-content .TrackBox article ul li:last-child{padding:0}

.ProductListing{margin:0 0 30px}
.ProductListing figure img{height:100%}
.ProductListing p+strong{-webkit-line-clamp:1;height:21px}
.ProductListing .cros{display:flex}
.ProductListing .cros span{margin:0 7px}
.ProductListing .cros strong{display:inline-block}

.RangeSlider{float:left;width:100%;padding:20px 0 0 0}
.RangeSlider h4{margin:0 0 0;text-transform:uppercase;color:#000;font-size:14px;font-family:'D-DIN',sans-serif!important;font-weight:600;letter-spacing:.5px}
.RangeSlider .selector{position:relative;padding:15px 15px 20px 0}
.RangeSlider .selector #slider-range{width:95%;margin:50px auto 15px auto;background-color:#d4d4d4;height:4px;border:none}
.RangeSlider .selector #slider-range .ui-slider-range.ui-widget-header{background-image:linear-gradient(-90deg,#712a8c,#ea008b)}
.RangeSlider .selector #slider-range span.ui-slider-handle{border:none;background-image:linear-gradient(-90deg,#712a8c,#ea008b);top:-6px;width:15px;height:15px;border-radius:50%;outline:0}
.RangeSlider .selector #min-price{border:1px solid #ddd;float:left;line-height:30px;display:inline-block;padding:0 10px;font-size:14px;font-weight:600;color:#000;border-radius:5px}
.RangeSlider .selector #max-price{float:right;border:1px solid #ddd;line-height:30px;display:inline-block;padding:0 10px;font-size:14px;font-weight:600;color:#000;border-radius:5px}

.CouponBox{/*background-color:#f3f2f2;*/border:1px solid #ddd;border-radius:5px;display:flex}
.CouponBox+.CouponBox{margin:20px 0 0 0}
.CouponBox aside{padding:0 10px;width:20%;align-items:center;justify-content:center;display:flex}
.CouponBox aside p{margin:0;font-size:16px;font-weight:700;color:#000}
.CouponBox aside p span{display:block}
.CouponBox figcaption{padding:15px;border-left:1px solid #ddd}
.CouponBox figcaption p{font-size:15px;color:#712a8c;font-weight:600;margin:0 0 5px;line-height:21px}
.CouponBox figcaption h6{margin:0;font-size:15px;color:#403f3f}
.CouponBox figcaption h6 span{font-weight:600}
.CouponBox article{width:30%;padding:15px 15px;display:flex;align-items:center;justify-content:center}
.CouponBox article p{padding:10px 25px;align-items:center;justify-content:center;background: #712a8c;border-radius:3px;color:#fff;position:relative;font-size:15px;font-weight:500;text-align:center;margin:0;letter-spacing:.5px;}
.CouponBox article p span{width:18px;height:18px;position:absolute;border-top-right-radius:3px;border-bottom-left-radius:3px;top:0;right:0;z-index:9;background: linear-gradient(to left bottom,#d6dadc 48%,#7d259e 50%);overflow:hidden;transition:all .15s ease-out;}
.CouponBox article p span:before{content:'';width:25px;height:18px;position:absolute;background: #b101f3;left:0;top:0;transform-origin:left top;transform:rotate(45deg);}

#suggesstion-box{position: absolute; display: none; background-color: #723e8b;min-width: 355px;top: 50px;z-index: 9;text-align: left;border: 2px solid #fff;max-height: 250px;overflow-y: scroll;border-right: none;left: 0;}
#suggesstion-box::-webkit-scrollbar {width: 7px;}
#suggesstion-box::-webkit-scrollbar-track {background: #723e8b;}
#suggesstion-box::-webkit-scrollbar-thumb { background: #eb008b;}
#suggesstion-box span{ display: block; }
#suggesstion-box span a{display: block; color: #fff; padding: 10px 20px; font-size: 15px; }
#suggesstion-box span a:hover{ background-color: #ed558b; }

.FilterSort .Sort { width: 220px; margin-left: auto; display: flex; padding: 5px 0 5px 15px }
.FilterSort .Sort select{ outline: 0  } 
 
.GymArea .gymimg .GymBox a{ height: 235px;  }
.GymArea .gymimg .GymBox a img{ height: 100%  }

.owl-carousel .owl-prev,
.owl-carousel .owl-next{ outline: 0  }

.owl-carousel .disabled,
.owl-carousel .disabled span{
    color: #c1c1c1 !important;
}

.CollectionList #Ethnic .owl-nav .owl-prev.disabled,
.CollectionList #Ethnic .owl-nav .owl-next.disabled,
.CollectionList #jumpsuits .owl-nav .owl-prev.disabled,
.CollectionList #jumpsuits .owl-nav .owl-next.disabled,
.CollectionList #lastest_top .owl-nav .owl-prev.disabled,
.CollectionList #lastest_top .owl-nav .owl-next.disabled,
.CollectionList #Footwear .owl-nav .owl-prev.disabled,
.CollectionList #Footwear .owl-nav .owl-next.disabled,
.CollectionList #Watches .owl-nav .owl-prev.disabled,
.CollectionList #Watches .owl-nav .owl-next.disabled,
.CollectionList #Stylish_Tops .owl-nav .owl-prev.disabled,
.CollectionList #Stylish_Tops .owl-nav .owl-next.disabled{
    color: #000 !important;
    opacity: 0.4;
}



.MobileHeader{padding: 10px 15px 0; display: none; }
.MobileHeader .Navigation ol{float:left}
.MobileHeader .Navigation ol li a{display:block;width:125px}
.MobileHeader .Navigation ul{float:right;margin:8px 0;display:flex}
.MobileHeader .Navigation ul li{display:inline-block;padding:0 7px 0;text-align:center}
.MobileHeader .Navigation ul li a{display:block}
.MobileHeader .Navigation ul li:last-child a{padding:6px 0}
.MobileHeader .Navigation ul li a span{display:block;width:22px;height:2px;border-radius:1px;background-color:#000}
.MobileHeader .Navigation ul li a span+span{margin:4px 0 0 0}
.MobileHeader .Navigation ul li a img{width:25px}
.MobileHeader .Case{background:#fff685;color:#000;padding:6px 10px 5px;text-align:center;box-shadow:0 1px 3px #c3c3c3;width: 100%;margin: 15px 0 2px;font-size:13px;font-weight:500;float: left;}
.MobileHeader .Case p{margin:0}
.MobileHeader .SideBar{background-color:#712a8c;position:fixed;top:0;right:-90px;padding:60px 20px 15px 20px;height:100%;width:0;z-index:9;box-shadow:0 0 6px #000;transition:0.5s all ease-in-out}
.MobileHeader .SideBar ul li{margin:0 0 15px}
.MobileHeader .SideBar ul li a{font-size:17px;padding:0 0;text-transform:uppercase;font-weight:600;font-family:"D-DIN";letter-spacing:.5px;color:#fff;display:block;line-height:35px}
.MobileHeader .SideBar a#Closenav{position:absolute;top:0;color:#fff;font-size:25px;width:40px;height:40px;text-align:center;left:-40px;background-color:#712a8c;cursor:pointer}


#myModalcontact h4.modal-title,#myModalcontact1 h4.modal-title{font-size:30px;color:#71298c;text-align:center;font-weight:600}
ul.ContactInfo{text-align:center;margin:10px 0 20px}
ul.ContactInfo li{display:inline-block;margin:0 10px}
ul.ContactInfo li a{display:block;border:1px solid #ddd;width:220px;padding:10px 0;text-transform:capitalize;color:#504f4f;font-size:16px;font-weight:500;border-radius:5px;transition:0.4s all ease-in-out}
ul.ContactInfo li a .fa{font-size:21px;background-color:transparent;color:#723e8b;margin:0 11px 0 0}
ul.ContactInfo li a:hover{background-image:linear-gradient(-90deg,#712a8c,#ea008b);border-color:#fff;color:#fff}
ul.ContactInfo li a:hover .fa{color:#fff}
















@media screen and (max-width: 500px){


	.lis figure{ height: auto; }

	/*.catmain .mainsidebar .cheaks  label.container{ width: 50%; float: left;  }*/

	.DiscountArea .DiscountBox{
    padding: 20px 20px;
}
	.DiscountArea .DiscountBox .row{
    display: block !important;
}
	.DiscountArea .DiscountBox .row .col-sm-2{
    width: 50%;
    float: left;
}
	.DiscountArea .DiscountBox .row .col-sm-2 .Discountlist{}
	.DiscountArea .DiscountBox .row .col-sm-2 .Discountlist a figure{
    height: 210px;
}

.OccasionArea .Occasionbox figure{ height: auto !important; }


.ClothingArea .Clothing ul li{ width: 100%; display: block; }



.ModalBox .modal-dialog {
    width: 90%;
}



.LoginForm { 
    padding: 30px 30px;}

.LoginForm form button{ width: 100% }


.LoginForm form ul li { 
    margin: 0 2px;}

.LoginForm form ul li a { 
    width: 150px;}

.BagArea .BagBody .BagsLeft .BagOrder article aside figure{
    width: 225px;
    height: 225px;
    margin: auto;
    display: block;
    float: none;
}

 
.BagArea .BagBody .BagsLeft .BagOrder article aside figcaption{width: 100%;padding: 15px 0 0 0;}


.BagArea .BagBody .BagsLeft .BagOrder article aside .Spinner .number-spinner{
    width: 110px;
    margin: 0;
}



.BagArea .BagBody .BagsLeft .BagOrder article aside .Spinner p{
    text-align: right;
}
.BagArea .BagBody .BagsLeft .BagOrder article aside .Spinner p a{
    margin: 0 0 0 20px;
}








































}







